<h1>Score</h1>
<% result = validate_word(@result, @word, @letters) %>
<% session[:score] += result[:points].to_i %>
<p><%= result[:phrse] %></p>
<p>Points value: <%= result[:points] %></p>
<%= link_to "New Game", "new" %>
